
                  table {
                    border-collapse: separate;
                    border-spacing: 80px 0;
                  }
                  
                  td {
                    padding: 10px 0;
                  }