
                  table {
                    border-collapse: separate;
                    border-spacing: 20px 0;
                  }
                  
                  td {
                    padding: 15px 0;
                  }
                  .bars{
                   
                    
                    
                  }
                  