
                  table {
                    border-collapse: separate;
                    border-spacing: 75px 0;
                  }
                  
                  td {
                    padding: 15px 0;
                  }