<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div (click)="toggleCollapse()" class="logo-container">
    <button class="logo">{{userName.charAt(0)}}</button>
    <div class="logo-text" *ngIf="collapsed">{{ userName }}</div>
   
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">{{
          data.label
          }}</span>
      </a>
    </li>
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" (click)="onLogout()">
        <i class="sidenav-link-icon" [class]="'fal fa-sign-out'"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">
          Log Out
        </span>
      </a>
    </li>
  </ul>
</div>